<!-- comments.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/user/userStyle.css' />
    <link rel='stylesheet' href='/stylesheets/user/mypage.css' />
    <link rel='stylesheet' href='/stylesheets/user/myPageComments.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="http://icanbecreative.com/resources/images/favico.ico" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src='http://code.jquery.com/jquery-latest.js'></script>

    <script type="text/javascript" src="/javascript/user/mypage.js"></script>
</head>

<body id="body">
    <% include ../layout/main/header %>
    <% include ../layout/user/myPageInfo %>
    <% include ../layout/user/navbar %>
    <div class="container">
        <% include ../layout/webtoon/mypageComment %>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var myTab = <%- JSON.stringify(tab) %>
        switch (myTab) {
            case 1:
                break;
            case 2:
                break;
                $(".navbar-centerNavbar .navbar-nav li").removeClass("active");
                $("#recommend").addClass("active");
            case 3:
                $(".navbar-centerNavbar .navbar-nav li").removeClass("active");
                $("#comment").addClass("active");
                break;
            case 4:
                $(".navbar-centerNavbar .navbar-nav li").removeClass("active");
                $("#dashboard").addClass("active");
                break;
            case 5:
                $(".navbar-centerNavbar .navbar-nav li").removeClass("active");
                $("#edit").addClass("active");
                break;
        }
    </script>
</body>
</html>
