<div class="search-box" id="SBox">
    <input name="webtoonName" id="search" placeholder="웹툰 검색" type="text">
    <div class="also search-link" id="searchclick"></div>
</div>
<br><br>
<hr>

<ul class="card-container" data-reactid=".0.1.0.2">
    <li class="kit card" data-reactid=".0.1.0.2.$0">
        <div class="kit-image-container" data-reactid=".0.1.0.2.$0.0"><img src="/images/webtoon/00c51c5e-133d-480c-a762-d3b969f53acd.jpg">
        <div class="kit-bottom-info" data-reactid=".0.1.0.2.$0.1">
            <h2 class="kit-title" data-reactid=".0.1.0.2.$0.1.0">iOS9 Vector UI Kit</h2>
            <div class="kit-creator" data-reactid=".0.1.0.2.$0.1.1">created by Mercury Intermedia</div>
        </div>
        <div class="kit-synced-notification sync-flag" data-reactid=".0.1.0.2.$0.2">
            <div class="kit-synced-notification-inner" data-reactid=".0.1.0.2.$0.2.0"><svg viewBox="0 0 100 100" class="icon" data-reactid=".0.1.0.2.$0.2.0.0"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#checkmark" data-reactid=".0.1.0.2.$0.2.0.0.0"></use></svg></div>
        </div>
    </li>
    <li class="kit card empty" data-reactid=".0.1.0.2.$1"></li>
    <li class="kit card empty" data-reactid=".0.1.0.2.$11"></li>
</ul>
