<nav id="mynav" class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
		<div class="navbar-header">
            <img src="/images/title.png" style="display: inline-block;" width="45" height="45">
            <a class="navbar-brand" href="/">웹툰 추천 시스템</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
                <li><a href="/search">웹툰 검색</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">커뮤니티 <span class="badge">hot</span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/board"><i class="fa fa-fw fa-tag"></i>&nbsp;자유게시판<span class="badge">new</span></a></li>
						<li><a href="#"><i class="fa fa-fw fa-tag"></i>&nbsp;웹툰 컷<span class="badge">new</span></a></li>
					</ul>
				</li>
				<li><a href="/users/recommend">웹툰 추천</a></li>
				<% if(!user) { %>
					<li><a href="/users/login">로그인</a></li>
				<% } else { %>
					<li>
						<% if(user.name) { %>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= user.name %> &nbsp;<span class="glyphicon glyphicon-user"></span></a>
						<% } else { %>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= user.email %> &nbsp;<span class="glyphicon glyphicon-user"></span></a>
						<% } %>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/users/mypage">마이 페이지</a></li>
							<li><a href="/users/edit">내 정보 수정</a></li>
							<li><a href="/users/logout">로그아웃</a></li>
						</ul>
					</li>
				<% } %>

			</ul>
		</div>
	</div>
</nav>
