<nav class="navbar navbar-centerNavbar">
    <div class="container">
		<div class="navbar-header">
            <ul id="clickNav" class="nav navbar-nav navbar-left">
                <li class="active"><a href="/users/mypage">봤어요<span class="badge"><%= user.readWebtoon.length; %></span></a></li>
                <li id="recommend"><a href="/users/recommendWebtoons">추천 받은 웹툰<span class="badge">0</span></a></li>
                <% if(comments) { %>
                    <li id="comment"><a href="/users/comments">코멘트<span class="badge"><%= comments.length %></span></a></li>
                <% } %>
                <li id="dashboard"><a href="/users/dashboard">평가 통계 분석</a></li>
			</ul>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
                <li id="edit"><a href="/users/edit">내정보 편집</a></li>
			</ul>
		</div>
	</div>
</nav>
